* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color:white;
}

br {
    user-select: none;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

h3 {
    margin: 5px;
}

body {
    background-color: rgb(18, 22, 25);
    font-family: JetBrainsMonoThin;
    text-align: center;
    color: white;
    margin: 0;
}

hr {
    z-index:3;
    height: 4px;
    border-width: 0;
    background-color: rgb(47, 66, 78);
}

header {
    background-color: rgb(34, 46, 50);
    padding: 10px;
    margin:0;
    filter: drop-shadow(0px 5px 5px rgb(18, 22, 24));
}

.title {
    font-size: 48px;
    color: antiquewhite;
    text-decoration: none;
    transition: all, ease-out, 0.1s;
    filter: drop-shadow(0px 5px 5px rgb(18, 22, 24));
    line-height: 48px;
}

.title:hover {
    font-size: 50px;
}

section {
    padding: 0;
    margin: 0;
}

.postList {
/*    border: 1px solid blue;*/
    background-color: rgb(34, 46, 50);
    margin: 0;
    width: 50%;
    align-self: center;
    justify-self: center;
    text-align: left;
}

.postContainer{
    padding:20px;
}
.postTitle {
    font-size: 20px;
    font-family: JetBrainsMonoLight;
    text-decoration: none;
    font-weight: 900;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.36));
}
.postName {
    line-height: 20px;
    transition: ease-out 0.1s;
}

.postName:hover{
    color:rgb(53, 210, 255);
    font-size:22px;
}

.headerimg {
    max-width: 840px;
    padding: 13px;
    filter: drop-shadow(5px 5px 5px rgb(18, 22, 24));
    margin:0;
}

div.bg {
    margin:auto;
    max-width:50em;
    background-color: rgb(34, 46, 50);
}

@font-face {
    font-family: 'JetBrainsMonoLight';
    src: url('fonts/JetBrainsMonoNL-Light.ttf');
}

@font-face {
    font-family: 'JetBrainsMonoExtraLight';
    src: url('fonts/JetBrainsMonoNL-ExtraLight.ttf');
}

@font-face {
    font-family: 'JetBrainsMonoThin';
    src: url('fonts/JetBrainsMonoNL-Thin.ttf');
}